In [76]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [77]:
page = requests.get(url="https://en.wikipedia.org/wiki/Web_scraping")
page.status_code

200

In [78]:
soup = BeautifulSoup(page.content, "html.parser")

title = soup.find("h1", id="firstHeading").text

print(title)

Web scraping

In [79]:
data = soup.find("div", id="mw-content-text").text
# print(data)

In [29]:
# list(soup.children)

In [80]:
tags = []

for tag in soup.findAll(True):
  tags.append(tag.name)

tag_list = list(dict.fromkeys(tags))
tag_list.sort()
print(tag_list)

['a', 'b', 'bdi', 'body', 'br', 'cite', 'div', 'footer', 'form', 'h1', 'h2', 'h3', 'head', 'html', 'i', 'img', 'input', 'label', 'li', 'link', 'meta', 'nav', 'noscript', 'ol', 'p', 'script', 'small', 'span', 'style', 'sup', 'table', 'tbody', 'td', 'title', 'tr', 'ul']

In [81]:
data = pd.read_excel("data.xlsx")
# data

In [82]:
def change(val):
    val2 = val.split(" ")
    val2 = "_".join(val2)
    # print(val2)
    return val2

In [83]:
data["Names_New"] = data['Names'].apply(change)

In [84]:
data.head()

                     Names                Names_New
0  Artificial Intelligence  Artificial_Intelligence
1               Blockchain               Blockchain
2       Internet of things       Internet_of_things
3          Cloud Computing          Cloud_Computing
4                   Amazon                   Amazon

In [85]:
names = list(data["Names_New"]) 
len(names)

10

In [120]:
tables = [[],[],[],[],[],[],[],[],[],[]]
h1s = [[],[],[],[],[],[],[],[],[],[]]
h2s = [[],[],[],[],[],[],[],[],[],[]]
h3s = [[],[],[],[],[],[],[],[],[],[]]
h4s = [[],[],[],[],[],[],[],[],[],[]]
aS = [[],[],[],[],[],[],[],[],[],[]]
italicS =[[],[],[],[],[],[],[],[],[],[]]
pS=[[],[],[],[],[],[],[],[],[],[]]

for i in range(len(names)):
    page = requests.get(f"https://en.wikipedia.org/wiki/{i}")
    soup = BeautifulSoup(page.content,'html.parser')

    for table in soup.find_all('table'):
      tables[i].append(table.text)

    for h2 in soup.find_all('h2'):
      h2s[i].append(h2.text)

    for h1 in soup.find_all('h1'):
      h1s[i].append(h1.text)

    for h3 in soup.find_all('h3'):
      h3s[i].append(h3.text)

    for h4 in soup.find_all('h4'):
      h4s[i].append(h4.text)

    for a in soup.find_all('a'):
      aS[i].append(a.text)

    for p in soup.find_all('p'):
      pS[i].append(p.text)

    for italic in soup.find_all('i'):
      italicS[i].append(italic.text)

In [121]:
print("tables===>",len(tables))
print("h1s===>",len(h1s))
print("h2s===>",len(h2s))
print("h3s===>",len(h3s))
print("h4s===>",len(h4s))
print("aS===>",len(aS))
print("italicS===>",len(italicS))
print("pS===>",len(pS))

tables===> 10
h1s===> 10
h2s===> 10
h3s===> 10
h4s===> 10
aS===> 10
italicS===> 10
pS===> 10

In [122]:
all_data = {
    "tables":tables,
    "Heading1":h1s,
    "Heading2":h2s,
    "Heading3":h3s,
    "Heading4":h4s,
    "Anchor":aS,
    "Italic":italicS,
    "Paragraph":pS
    }

In [123]:
df = pd.DataFrame(all_data)
print(df)

                                              tables Heading1  \
0  [\n← −1 \n0\n 1 →\n -1 0 1 2 3 4 5 6 7 8 9 → L...      [0]
1  [\n← 0 \n1\n 2 →\n -1 0 1 2 3 4 5 6 7 8 9 → Li...      [1]
2  [\n← 1 \n2\n 3 →\n -1 0 1 2 3 4 5 6 7 8 9 → Li...      [2]
3  [\n← 2 \n3\n 4 →\n -1 0 1 2 3 4 5 6 7 8 9 → Li...      [3]
4  [\n← 3 \n4\n 5 →\n -1 0 1 2 3 4 5 6 7 8 9 → Li...      [4]
5  [\n← 4 \n5\n 6 →\n -1 0 1 2 3 4 5 6 7 8 9 → Li...      [5]
6  [\n← 5 \n6\n 7 →\n -1 0 1 2 3 4 5 6 7 8 9 → Li...      [6]
7  [It has been suggested that Symbolism of the n...      [7]
8  [\n← 7 \n8\n 9 →\n -1 0 1 2 3 4 5 6 7 8 9 → Li...      [8]
9  [\n← 8 \n9\n 10 →\n -1 0 1 2 3 4 5 6 7 8 9 → L...      [9]

                                            Heading2  \
0  [Contents, Etymology, History, Mathematics, Ph...
1  [Contents, Etymology, As a number, As a digit,...
2  [Contents, Evolution, In mathematics, In scien...
3  [Contents, Evolution of the Arabic digit[edit]...
4  [Contents, In mathematics, List of basic calcu...
5  [Contents, In mathematics[edit], Evolution of ...
6  [Contents, In mathematics, Greek and Latin wor...
7  [Contents, Evolution of the Arabic digit, Math...
8  [Contents, In mathematics, Etymology, Evolutio...
9  [Contents, Mathematics, List of basic calculat...

                                            Heading3  \
0  [Modern usage, Ancient Near East, Pre-Columbia...
1  [Definitions, Properties, Primality, Table of ...
2       [Arabic digit, Etymology of two, \nSearch\n]
3  [Numeral systems[edit], List of basic calculat...
4  [Buddhism, Judeo-Christian symbolism, Hinduism...
5  [List of basic calculations[edit], Astronomy[e...
6  [List of basic calculations, Hexa, The prefix ...
7  [Basic calculations, In Psychology, In literat...
8  [List of basic calculations, Physics, Astronom...
9  [Indian culture, Chinese culture, Ancient Egyp...

                                            Heading4  \
0  [Epigraphy, Transmission to Islamic culture, T...
1                                                 []
2                                                 []
3                                                 []
4                                                 []
5                   [Groups[edit], Other uses[edit]]
6                                                 []
7                                                 []
8  [Hinduism, Buddhism, Judaism, Christianity, Is...
9                                                 []

                                              Anchor  \
0  [, , Jump to navigation, Jump to search, O, O ...
1  [, , Jump to navigation, Jump to search, AD 1,...
2  [, , Jump to navigation, Jump to search, 2 BC,...
3  [, Jump to navigation, Jump to search, AD 3, 3...
4  [, , Jump to navigation, Jump to search, AD 4,...
5  [, Jump to navigation, Jump to search, AD 5, 5...
6  [, , Jump to navigation, Jump to search, AD 6,...
7  [, , Jump to navigation, Jump to search, AD 7,...
8  [, , Jump to navigation, Jump to search, AD 8,...
9  [, , Jump to navigation, Jump to search, AD 9,...

                                              Italic  \
0  [Ought, aught, cipher, zero, zéro, zero, zever...
1  [unit length, one, an, *ainaz, *ainaz, *oi-no-...
2  [two, two, two, twā, tū, twēġen, who, w, twā, ...
3  [e, n, n, n, n, n, n, n, n, n, n, n, n, n, tri...
4  [p, n, n, a, n, b, tetragon, n, n, An, x, y, z...
5  [p, only, S, n, n, n, K, x, x, x, x, x, pancha...
6  [Hexa, Hexa, sex-, q, n, n, S, S, n, n, n, A, ...
7  [Symbolism of the number 7,  Proposed since Au...
8  [O, Cl, p, q, Cl, p, q, x, x, x, x, x, eight, ...
9  [nine, p, n, n, n, n, N, N, x, x, x, x, x, x, ...

                                           Paragraph
0  [\n, 0 (zero) is a number,[1] and the numerica...
1  [\n, 1 (one, also called unit, and unity) is a...
2  [\n, 2 (two) is a number, numeral and digit. I...
3  [3 (three) is a number, numeral and digit. It ...
4  [\n, 4 (four) is a number, numeral and digit. ...
5  [5 (five) is a number, numeral and digit. It i...
6  [\n, 6 (six) is the natural number following 5...
7  [\n, 7 (seven) is the natural number following...
8  [\n, 8 (eight) is the natural number following...
9  [\n, 9 (nine) is the natural number following ...

In [124]:
df.to_csv("scrapped_data.csv")